html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fdf1e8;
    scroll-behavior: smooth;;
}

a{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

#navlinks:hover{
    color: black;
    transition: 0.3s ease-in-out;
}

h1{
    font-family: 'Barlow', sans-serif;
    font-size: 70px;
    text-decoration: overline; 
    text-decoration-color: #ff5a47;
}

h2{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    text-decoration: underline; 
    text-decoration-color: #ff5a47;
}
h3{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: white;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    list-style-type: circle;

}

li{
    color:#915650;
}

li span{
    color: black;
}

#website{
    display: flex;
    flex-direction: row;
}

#navbar{
    width: 100vw;
    height: 40px;
    background-color: #ff5a47;
    border-bottom: 3px solid #cc1400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
}

#head{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: white;
    width: 25vw;
}

#links{
    display: flex;
    width:100%;
    justify-content:space-evenly;
}

#navlinks{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    padding: 30px;
    transition: 0.3s ease-in-out;
}

#content{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.material-symbols-outlined{
    color: #ff5a47;
    vertical-align: bottom;
    padding:10px;
    padding-top:25px;
}

#header{
    display: flex;
    flex-direction: row;
}

#floated{
    float: left;
    width: 200px;
    background: red;
}
 a.hamburger, a.close{
    display: none;
}

#home, #education, #experience, #skills{
    padding: 10px;
    border-bottom: 1px solid #f0d0b7;
}

#inside{
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.profile{
    float: left;
    margin-right: 30px;
    margin-top: 35px;
    border: 3px solid #ff5a47;
    border-radius: 10px;
}

#socials{
    padding: 5px;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

#insideflex{
    display: flex;
    flex-wrap: wrap;
}

#socials:hover{
    filter: invert(14%) sepia(92%) saturate(5840%) hue-rotate(12deg) brightness(85%) contrast(104%);
    transition: 0.3s ease-in-out;
}


@media only screen and (max-width:1000px) {

    #links{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ab2e20;
        border-right: 2px solid #921305;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
    }
     #navbar{
         display: flex;
         flex-direction: row;
         padding: 10px;
         width: 100%;
         height: 70px;
         text-align: start;
         border-bottom: 2px solid #cc1400;
     }

    #navlinks{
        padding: 15px;
        border: none;
        justify-content: flex-start;
        display: flex;
        vertical-align: middle;
        width: 30vw;
        
     }

    #navlinks:hover{
    color: black;
    border: none;
    transition: 0.3s ease-in-out;
    }

     #head{ 
         margin: 20px;
         padding-bottom: 0px;
         display: flex;
         justify-content: flex-end;
         position: fixed;
         top: 0;
         right: 0;
         width: 50vw;
     } 
    
     a.hamburger{
        margin: 30px;
        margin-top: 10px;
        margin-right: 50px;
        padding: 5px;
        font-size: 50px;
        display: block;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: 0.3s ease-in-out;
    }

     a.close{
        display: block;
        margin: 30px;
        padding: 5px;
        font-size: 50px;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.3s ease-in-out;
    }

     #navbar a.hamburger:hover, a.close:hover{
         color: black;
         transition: 0.3s ease-in-out;
     }
    h3{
        padding: 5px;
        font-size: 35px;
        color: white;
        margin: 0px;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 35px;
    }

    p{
        font-size: 25px;
    }

    #content{
        margin: 0px;
        margin-top: 70px;
        padding: 10px;
    }

    .material-symbols-outlined{
        padding-top: 0px;
    }
    
}
